* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    background-color: #4DB6AC;
    display: inline-block;
    width: 100%;
    margin: 0;
  }

  .container {
    margin: 10px;
  }

  .header{
    background-color: #90A2B2;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 30px;
    margin-top: 30px;
    min-width: 300px;
  }

  .header h2{
    font-size: 25px;
    margin-top: 0;
  }

  button {
    padding: 5px;
    border-style: black solid;
    border-radius: 5px;
    border-width: 2px;
  }

  label[for='search-term']{
    font-weight: bolder;
  }

  input[type='text'], 
  input[type='submit'],
  .filter-label {
    display: block;
    width: 300px;
    height: auto;
    font-size: 18px;
    text-align: left;
    padding: 15px;
    border: 2px solid #e7e7e7;
    border-radius: 5px;
    background: #fcfcfc;
    color: black;
  }

  input[type='text'], 
  input[type='submit'] {
    margin: 10px 0 20px;
  }

  input[type='submit']{
    background-color: #E57373;
    border: 2px solid #E57373;
    font-weight: bolder;
    color: black;
  }
  
  button:hover, 
  input[type='submit'] {
    cursor: pointer;
  }

  .filters{
    display: inline-block;
    width: 300px;
  }

  .filter-label{
    position: relative;
    margin: 0;
    border-radius: 5px 5px 0 0;
    border-width: 2px 2px 0 2px;
    padding: 15px 15px 0px 15px;
  }

  .filters:hover > .filter-label{
    cursor: pointer;
  }

  .filter-label:hover + .filter-list{
    cursor: pointer;
    display: inline-block;
  }

  .filter-label:focus + .filter-list{
    cursor: pointer;
    display: inline-block;
  }

  .filter-list{
    margin: 0;
    background-color: #fcfcfc;
    width: 300px;
    border-radius: 0 0 5px 5px;
    padding: 15px;
    font-weight: bolder;
    flex-direction: column;
    align-items: flex-start;
    border: 2px solid #e7e7e7;
    border-width: 0 2px 2px 2px; 
  }

  .filter-list:hover{
    display: inline-block;
  }

  .filter-list:focus{
    display: inline-block;
  }

  .filters li{
    padding: 0 0 10px;
    list-style-type: none;
    width: 300px;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .filters li label{
    position: relative;
    left: 20px;
  }

  input[type='checkbox']{
    position: absolute;
    margin: 0;
    z-index: 1;
    height: 15px;
    width: 15px;
    top: 0;
    left: 0;
    opacity: 0;
  }

  .diet-filter > input[type='checkbox']:checked ~ .checkmark{
    background-color: rgb(169, 16, 229);
  }

  input[type='checkbox']:hover,
  li > label:hover{
    cursor: pointer;
  }

  .checkmark{
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    border: 2px solid #e7e7e7;
    border-radius: 2px;
    background-color: #fcfcfc;
  }

  input[type='checkbox']:hover + .checkmark{
    background-color: #90A2B2
  }

  input[type='checkbox']:focus + .checkmark{
    background-color: #90A2B2
  }
  
  .error-message {
      color: #320C16;
  }
  
  .hidden {
    display: none;
  }

  /*Result Formatting*/

  #results > h3{
    margin-top: 60px;
    margin-bottom: 10px;
    font-size: 35px;
  }
  
  #results-list{
    padding: 0;
    margin-top: 0;
  }

  .result{
    border: 2px solid #e7e7e7;
    border-radius: 5px;
    background: #fcfcfc;
    margin-top: 20px;
    display: table;
    padding: 15px;
    width: 300px;
  }

  h3 a{
    color: black;
    font-weight: bolder;
  }

  h3{
    margin-bottom: 5px;
    margin-top: 0;
  }

  .result-img{
    border-radius: 10px;
    margin-bottom: 10px;
  }

  .result-ul{
    list-style-type: none;
    font-weight: bolder;
    margin: 5px 0px 10px;
    padding-left: 0;
  }

  .result-ul > li{
    margin-bottom: 2px;
  }

  /*Desktop Formatting*/

  @media screen and (min-width: 576px) {

    input[type='text'], 
  input[type='submit'],
  .filter-label {
    display: inline-block;
  }

  input[type='text'], 
  input[type='submit'] {
    margin: 10px 20px 20px 0px;
  }
  }